h1,h2,h3,h4 {
  text-align: center;
  background-color: beige;
  margin-right: 1em;
  margin-left: 1em;
}

body{
  background-color: rgb(255, 255, 255);
  border-style: dotted;
  border-color: black;
  margin-right: 5em;
  margin-left: 5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  /* background-image: url();  */
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social{
  width: 2em;
  padding-left: 1em;
}

.footer{
  text-align: left;
  background-color: white;
}

.column {
  float: left;
  width: 50%;
}

iframe {
  width: 90%;
  max-width: 40rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}